[submodule "src/pimoroni_pico/vendor/BME68x-Sensor-API"]
	path = src/pimoroni_pico/vendor/BME68x-Sensor-API
	url = https://github.com/boschsensortec/BME68x-Sensor-API
[submodule "src/pimoroni_pico/vendor/Bosch-BSEC2-Library"]
	path = src/pimoroni_pico/vendor/Bosch-BSEC2-Library
	url = https://github.com/boschsensortec/Bosch-BSEC2-Library
